/**
*
* {{ properCase name }}
*
*/

import React from 'react';

function {{ properCase name }}() {
  return (
    <div>
      <style jsx>{``}</style>
      <p>{{ properCase name }}!!</p>
    </div>
  );
}

export default {{ properCase name }};
