/**
*
* {{ properCase name }}
*
*/
/* eslint-disable import/first */
/* eslint-disable react/jsx-filename-extension */
/* eslint-disable react/prop-types */

import React from 'react';

function {{ properCase name }}() {
  return (
    <div>
      <style jsx>{``}</style>
      <p>{{ properCase name }}!!</p>
    </div>
  );
}

export default {{ properCase name }};
